// Tufte
@import "tufte";

// Additional styles for Hugo
@import "general";

/// Pages
@import "pages/footer";

/// Components
@import "components/code-highlight";
@import "components/details";
@import "components/navigation";
@import "components/brand";
@import "components/meta";
@import "components/listings";
@import "components/back-to-top";

// Look at this https://gohugo.io/hugo-pipes/resource-from-template/#readout
{{ if and (isset .Site.Params "codeblocksdark") .Site.Params.codeBlocksDark  }}
@import "syntax/highlight-dark.scss"
{{ else }}
@import "syntax/highlight-light.scss"
{{ end }}
