/* You can find the original at https://github.com/edwardtufte/tufte-css */

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@charset "UTF-8";

@import "fonts/variables";

/* Tufte CSS styles */
html {
    font-size: 15px;
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: $serif-fonts;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}

/* 원본 tufte.css 방식: 각 헤더 레벨 개별 정의 (커플링 최소화) */
h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

.numeral {
    font-family: et-book-roman-old-style;
}

.danger {
    color: red;
}

article {
    position: relative;
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
ol,
ul,
dl {
    font-size: 1.4rem;
}

p {
    line-height: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0;
}

div.epigraph>blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
    font-style: italic;
}

div.epigraph>blockquote>footer {
    font-style: normal;
}

div.epigraph>blockquote>footer>cite {
    font-style: italic;
}

/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.table-caption {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.6;
}

/* Sidenote numbering via CSS counter (원본 tufte.css 방식) */
.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style, serif;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

/* Marginnote indicator */
.marginnote-ind {
    position: relative;
    vertical-align: baseline;
    user-select: none;
}

label.marginnote-ind {
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

p,
footer,
table,
div.table-wrapper-small,
div.supertable-wrapper>p,
div.booktabs-wrapper {
    width: 55%;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: $sans-fonts;
}

@media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 90%;
    }

    label {
        cursor: pointer;
    }
}

.sans {
    font-family: $sans-fonts;
    letter-spacing: 0.03em;
}

code,
.code,
kbd,
pre > code {
    font-family: $mono-fonts;
    font-size: 1.0rem;
    line-height: 1.42;
}

.sans > code {
    font-size: 1.2rem;
}

h1 .code,
h2 .code,
h3 .code {
    font-size: 0.8em;
}

.marginnote .code,
.sidenote .code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear: both;
}

.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

.margin-toggle {
    cursor: pointer;
}

// accessibility feature: make label focus-able
input.margin-toggle {
    position: absolute;
    outline: none;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin-left: 5px;
    margin-top: 5px;
    z-index: -100;
}

label:has(+ input.margin-toggle:focus) {
    outline: medium auto currentColor;
    outline: medium auto invert;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -3px;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.video-container {
    width: 100%;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

.video {
    width: 55%;
}

.video--16x9 {
    aspect-ratio: 16/9;
}

.video--4x3 {
    aspect-ratio: 4/3;
}

@media (max-width: 760px) {
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    label {
        cursor: pointer;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    pre.code {
        width: 90%;
        padding: 0;
    }

    .table-caption {
        display: block;
        float: right;
        clear: both;
        width: 98%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 1%;
        margin-right: 1%;
        vertical-align: baseline;
        position: relative;
    }

    div.table-wrapper,
    table,
    table.booktabs {
        width: 85%;
    }

    div.table-wrapper {
        border-right: 1px solid #efefef;
    }

    img {
        width: 100%;
    }

    .video {
        width: 90%;
    }
}
