$ht-code-border-radius: .4em;
.highlight {
    width: 52.5%;
    overflow-x: auto;
    // border-radius: $ht-code-border-radius;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    margin-left: 2.5%;


    &>.chroma {
        margin: 0;
    }

    &>.chroma .hl {
        // border-radius: $ht-code-border-radius / 2;
        display: block;

        &::before{
            content: "> ";
            // font-family: "Noto Emoji";
            font-family: inherit;
            position: absolute;
            left: 0;
            color: #111;
        }
    }

    &>div.chroma>table.lntable{
        overflow: initial;
        // margin: $ht-code-border-radius 0 $ht-code-border-radius 0;
        & td:first-of-type {
            & span:not(& span>span) {
                padding: 0 .75em 0 .5em;
            }
        }

        pre {
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
        }
    }

    &>.chroma>code {
        width: max-content;
        margin-top: .5em;
        margin-bottom: .5em;
        margin-left: .5em;

        &>span.hl{
            margin-left: -.5em;
            padding-left: .5em;
        }
    }
}


@media screen and (max-width: 760px) {
    .highlight {
        width: 90%;
    }
}

// Fix highlight width in list items
ul>li>div.highlight {
    width: 100%;
}
