/* Content meta-data such as author, publication date, etc. */
.content-meta {
    display: block;
    font-family: $sans-fonts;
    font-size: 1.1rem;
    margin-top: 1em;
}

.content-meta .author,
.content-meta .date {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem auto 1rem 0;
    line-height: 1;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
