/* Table of Contents */
.toc summary {
    font-size: 1.5rem;
}

.toc {
    // float: right;
    /*padding: 0rem 1rem 1rem 1rem;*/
    /*margin-top: 1rem;*/
}

.toc ul {
    list-style: none;
    display: block;
    /*margin-top: 0.75rem;*/
    padding: 0;
    width: 87.5%;
}

.toc li {
    // line-height: 0.5rem;
    margin-left: 3rem;
}
