<section>
<h1>
{{- .Title -}}{{- if .Draft -}}&nbsp;:: Draft{{- end -}}
</h1>
{{- if .Params.subtitle -}}
<p class=subtitle>{{ .Params.subtitle }}</p>
{{- end -}}

{{- if and (.IsPage) (.Params.meta) -}}
<div class="content-meta">
  <span class="meta-left">
    {{- if not .Params.hidedate -}}
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
    {{- end -}}
    {{- if and (not .Params.hidedate) .Params.author -}}
    <span class="separator">·</span>
    {{- end -}}
    {{- if .Params.author -}}
    {{- if .Site.Params.avatar -}}
    <img src="{{ .Site.Params.avatar | relURL }}" class="post-avatar" width="32" height="32" alt="avatar">
    {{- end -}}
    <span class="author">{{ .Params.author }}</span>
    {{- end -}}
  </span>
  {{- if not .Params.hidereadtime -}}
  <span class="readtime">{{ .ReadingTime }} min read</span>
  {{- end -}}
</div>
{{- end -}}
</section>
