<!-- Preconnect to critical third-party origins -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />

{{/* Base fonts always loaded */}}
{{- $families := slice
"Lato:wght@400;700"
"Spline+Sans+Mono:ital,wght@0,400;0,700;1,400;1,700"
-}}
{{/* CJK fonts: auto-detect from configured languages */}}
{{- range site.Languages -}}
{{- if eq .Lang "ko" -}}
{{- $families = $families | append "Noto+Sans+KR:wght@400;700" "Noto+Serif+KR:wght@400;700" -}}
{{- else if eq .Lang "ja" -}}
{{- $families = $families | append "Noto+Sans+JP:wght@400;700" "Noto+Serif+JP:wght@400;700" -}}
{{- else if or (eq .Lang "zh") (eq .Lang "zh-cn") (eq .Lang "zh-hans") -}}
{{- $families = $families | append "Noto+Sans+SC:wght@400;700" "Noto+Serif+SC:wght@400;700" -}}
{{- else if or (eq .Lang "zh-tw") (eq .Lang "zh-hant") -}}
{{- $families = $families | append "Noto+Sans+TC:wght@400;700" "Noto+Serif+TC:wght@400;700" -}}
{{- end -}}
{{- end -}}
<!-- Google Fonts -->
{{- $fontsURL := printf "https://fonts.googleapis.com/css2?family=%s&display=swap" (delimit $families "&family=") -}}
<link rel="stylesheet" href="{{ $fontsURL | safeURL }}" />

{{ $options := (dict "targetPath" "/css/tufte.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss"| resources.ExecuteAsTemplate "main.scss" . | css.Sass $options }}

{{ $optOptions := (dict "targetPath" "/css/tufte-options.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $optStyle := resources.Get "scss/tufte-options.scss"| resources.ExecuteAsTemplate "tufte-options.scss" . | css.Sass
$optOptions }}

<!-- Load stylesheets -->
<link rel="stylesheet" href="{{ $style.Permalink | relURL }}">
<link rel="stylesheet" href="{{ $optStyle.Permalink | relURL }}">
