/* Chosun Gulim (조선굴림체)
 * License: Free for personal and commercial use, redistribution allowed
 * Source: https://www.chosun.com/chosunfont/
 * CDN: https://noonnu.cc/en/font_page/415
 * Note: For local fallback, override in site assets/scss/fonts/_ChosunGulim.scss
 */
@font-face {
  font-family: 'Chosun Gulim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Chosun Gulim'),
       local('ChosunGu'),
       url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
}
