/* Import custom fonts (non-Google Fonts only) */
@import "ETBook";

/* Just empty variables to be overridden */
$serif-fonts-options: "";
$sans-fonts-options: "";
$mono-fonts-options: "";
/* Override $*_fonts-options variables if needed */
@import "options";

/* CJK fallback order: KR, JP, SC, TC */
$serif-fonts: $serif-fonts-options, et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "Noto Serif KR", "Noto Serif JP", "Noto Serif SC", "Noto Serif TC", serif;
$sans-fonts: $sans-fonts-options, Lato, "Gill Sans", "Gill Sans MT", Calibri, "Noto Sans KR", "Noto Sans JP", "Noto Sans SC", "Noto Sans TC", sans-serif;
$mono-fonts: $mono-fonts-options, "Spline Sans Mono", Consolas, "Liberation Mono", Menlo, Courier, "Noto Sans KR", monospace;
